<font color='red' size='5'>Problem 3</font>

You are required to pre-process the given wine and housing dataset.
1. convert any non-numeric values to numeric values. For example, you can replace a
country name with an integer value or more appropriately use hot-one encoding. [Hint:
use hashmap (dict) or pandas.get_dummies]. Please explain your solution.
2. If required drop out the rows with missing values or NA.
3. Split the data into a train (80%) and test(20%).


<font color='red' size='5'>winequality Dataset</font>

In [2]:

import pandas as pd
import seaborn as sns
df = pd.read_csv("winequality-red.csv",delimiter=";")
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [3]:
df.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5

In [4]:
df.tail(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1589,6.6,0.725,0.20,7.8,0.073,29.0,79.0,0.99770,3.29,0.54,9.2,5
1590,6.3,0.550,0.15,1.8,0.077,26.0,35.0,0.99314,3.32,0.82,11.6,6
1591,5.4,0.740,0.09,1.7,0.089,16.0,26.0,0.99402,3.67,0.56,11.6,6
1592,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [5]:
df=df.dropna()
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [35]:
X = df.drop('quality', axis=1)
y = df['quality']

In [60]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [61]:
X_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1353,7.6,0.645,0.03,1.9,0.086,14.0,57.0,0.99690,3.37,0.46,10.3
221,7.4,0.530,0.26,2.0,0.101,16.0,72.0,0.99570,3.15,0.57,9.4
1376,8.2,0.885,0.20,1.4,0.086,7.0,31.0,0.99460,3.11,0.46,10.0
162,7.8,0.530,0.04,1.7,0.076,17.0,31.0,0.99640,3.33,0.56,10.0
1572,7.3,0.690,0.32,2.2,0.069,35.0,104.0,0.99632,3.33,0.51,9.5
...,...,...,...,...,...,...,...,...,...,...,...
1528,7.9,0.290,0.49,2.2,0.096,21.0,59.0,0.99714,3.31,0.67,10.1
24,6.9,0.400,0.14,2.4,0.085,21.0,40.0,0.99680,3.43,0.63,9.7
528,8.2,0.420,0.49,2.6,0.084,32.0,55.0,0.99880,3.34,0.75,8.7
22,7.9,0.430,0.21,1.6,0.106,10.0,37.0,0.99660,3.17,0.91,9.5
1237,7.1,0.750,0.01,2.2,0.059,11.0,18.0,0.99242,3.39,0.40,12.8

In [62]:
X_test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
457,9.2,0.63,0.21,2.7,0.097,29.0,65.0,0.99880,3.28,0.58,9.60
1179,8.2,0.35,0.33,2.4,0.076,11.0,47.0,0.99599,3.27,0.81,11.00
1032,8.1,0.82,0.00,4.1,0.095,5.0,14.0,0.99854,3.36,0.53,9.60
1555,7.0,0.56,0.17,1.7,0.065,15.0,24.0,0.99514,3.44,0.68,10.55
256,9.4,0.34,0.37,2.2,0.075,5.0,13.0,0.99800,3.22,0.62,9.20
...,...,...,...,...,...,...,...,...,...,...,...
891,7.2,0.66,0.03,2.3,0.078,16.0,86.0,0.99743,3.53,0.57,9.70
953,10.2,0.34,0.48,2.1,0.052,5.0,9.0,0.99458,3.20,0.69,12.10
516,12.5,0.60,0.49,4.3,0.100,5.0,14.0,1.00100,3.25,0.74,11.90
422,7.7,0.96,0.20,2.0,0.047,15.0,60.0,0.99550,3.36,0.44,10.90
1434,10.2,0.54,0.37,15.4,0.214,55.0,95.0,1.00369,3.18,0.77,9.00

In [63]:
y_train

1353    5
221     5
1376    5
162     6
1572    5
       ..
1528    6
24      6
528     6
22      5
1237    6
Name: quality, Length: 1279, dtype: int64

In [64]:
y_test

457     5
1179    6
1032    5
1555    7
256     5
       ..
891     5
953     7
516     6
422     5
1434    6
Name: quality, Length: 320, dtype: int64

In [65]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()
clf.fit(X_train, y_train)

LinearRegression()

In [66]:
clf.predict(X_test)

array([5.1856683 , 6.15839479, 5.02083158, 5.68987012, 5.55133644,
       6.4175497 , 5.04388435, 5.22061827, 5.58471337, 6.13803472,
       6.48691392, 4.7101289 , 5.17049013, 5.25254702, 5.69664174,
       6.48993233, 5.80836493, 5.66223974, 5.66216477, 5.22659159,
       5.21642111, 4.9390984 , 5.82631593, 5.25886126, 5.09497347,
       5.26702649, 5.2524679 , 5.92436915, 6.23932634, 6.21240933,
       5.76225649, 5.3640921 , 5.01668245, 5.42757972, 5.525542  ,
       5.65630592, 6.09024545, 5.25105207, 5.3165583 , 5.61221452,
       6.00516194, 5.234424  , 5.42653723, 6.48907827, 5.01935997,
       5.59501776, 5.26521158, 5.36435449, 4.74264669, 5.4769934 ,
       6.0249759 , 5.34850633, 5.42331291, 5.0464493 , 5.61728036,
       5.40207234, 5.79989372, 6.45882582, 6.37161611, 5.93054105,
       5.78831636, 5.42653723, 5.03841709, 5.69526279, 4.91421549,
       5.75244795, 5.04448258, 5.36809836, 5.41696911, 5.16924693,
       5.49324522, 5.17514623, 6.01961971, 5.65471879, 5.43305768,
       5.29744834, 6.78747299, 4.48279131, 5.99718246, 6.00984385,
       5.40358838, 5.81886912, 5.38139197, 6.18175792, 5.16257516,
       5.69198405, 5.91942281, 5.760459  , 6.48365462, 6.52230195,
       6.20163612, 6.02540507, 5.91208191, 6.1137347 , 7.55484443,
       4.98387792, 5.0182634 , 5.70013013, 5.42757972, 4.97631419,
       6.01006577, 4.87669472, 5.61128071, 6.19655107, 5.12147417,
       5.75347138, 6.36859332, 6.55203805, 5.75952395, 5.33765478,
       6.44125103, 5.39519152, 5.26470891, 5.01696006, 5.20149987,
       5.92322679, 5.68546626, 5.90563261, 6.29207191, 5.04843603,
       6.50185479, 5.41090465, 5.80600591, 5.04877058, 5.93561323,
       5.05537149, 6.2177497 , 5.57559154, 5.00995349, 6.36542104,
       5.69664174, 6.21719381, 6.4875112 , 6.1757148 , 5.29437979,
       5.03386566, 5.03918899, 6.1134423 , 5.36004029, 5.10029219,
       6.30351582, 6.12869729, 5.91032437, 5.7060413 , 5.6534125 ,
       6.19975172, 5.17049154, 5.32024153, 5.10613155, 5.01660766,
       5.42150864, 5.42707011, 5.02464597, 4.89584754, 5.34435919,
       5.68904121, 5.5823748 , 6.25631159, 5.24515524, 5.78981681,
       5.09604912, 6.26260495, 5.42331291, 5.14735593, 6.26281634,
       5.34466335, 5.41504154, 6.13933448, 6.44129227, 6.1627079 ,
       6.53910049, 4.98393161, 5.45295565, 6.26253562, 5.45740822,
       5.38332763, 5.80370283, 5.28870755, 5.99530182, 5.2524679 ,
       5.35306725, 6.07936577, 6.36683583, 5.99530182, 5.33415862,
       5.95496785, 5.42163663, 5.23564483, 5.90978152, 5.14262349,
       6.45583613, 5.33034236, 5.26702649, 6.49912013, 5.35462335,
       4.87710743, 5.68748464, 5.14949738, 5.41509694, 5.90406601,
       6.09573092, 5.21388854, 6.18334861, 5.60190735, 5.78856571,
       5.27743939, 5.24416077, 5.55765451, 6.05532408, 5.31049774,
       5.85266839, 5.28320287, 5.40592662, 5.53740396, 5.34614227,
       6.68625972, 5.90678925, 5.56158789, 5.02310752, 5.31286942,
       5.55105893, 5.86822558, 5.75316675, 6.02032018, 5.77190206,
       5.34689632, 5.30248407, 5.00877438, 5.15360214, 6.12912801,
       5.3804424 , 5.37803209, 5.27310058, 5.17054869, 5.07335543,
       4.74932779, 5.19507298, 6.04226059, 6.04365101, 6.31011066,
       6.12146441, 5.08817641, 5.56729782, 5.08622914, 5.66166848,
       5.49840658, 5.13552329, 6.46505708, 5.73407519, 6.02367507,
       5.38349633, 5.31628495, 5.47630108, 4.96068633, 6.15485092,
       5.28333154, 5.30286587, 5.20844644, 5.59325844, 5.39088528,
       5.87510911, 5.21771761, 4.89649054, 5.38139197, 6.31876082,
       5.44820952, 5.40964646, 5.07715376, 5.01935997, 6.8936845 ,
       5.32263677, 5.1886177 , 5.55438368, 5.85013057, 6.00984385,
       5.41516418, 5.77768827, 6.22976958, 5.362267  , 5.01601459,
       5.79872499, 5.90678925, 5.61076376, 5.14262349, 5.49793504,
       5.49019056, 5.68904121, 5.01660766, 5.12920407, 6.16190538,
       6.51028504, 6.16604445, 5.37699413, 6.39778261, 5.68108159,
       5.87377569, 5.05990254, 4.65721451, 6.01517313, 6.20495345,
       5.50042281, 5.29301278, 6.05425291, 5.61531657, 5.55485492,
       6.96988137, 4.82084111, 4.8333872 , 6.32856098, 5.49953902,
       6.46297074, 5.92998213, 5.99052193, 5.24870276, 5.11235714,
       5.04356627, 6.56104494, 6.1351073 , 5.10613155, 5.32703599])

In [67]:
clf.score(X_test, y_test)

0.3136015065765846


<font color='red' size='5'>using RandomForest</font>

In [77]:
from sklearn.ensemble import RandomForestClassifier
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = RandomForestClassifier(n_estimators=100, random_state=42)

In [79]:
# Train the model on the training data
from sklearn.metrics import accuracy_score
model.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = model.predict(X_test)

# Evaluate the model (example: calculating accuracy)
accuracy = accuracy_score(y_test, y_pred)

accuracy

0.659375



<font color='red' size='5'>HOUSING DATASET</font>

In [80]:
df = pd.read_csv("Housing.csv")
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [81]:
df=df.dropna()
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

ONE HOT ENCODING

dummies=pd.get_dummies(df.furnishingstatus)
dummies

In [110]:
merged=pd.concat([df,dummies],axis="columns")
merged

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,furnished,semi-furnished,unfurnished
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished,True,False,False
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished,True,False,False
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished,False,True,False
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished,True,False,False
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,unfurnished,False,False,True
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,semi-furnished,False,True,False
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,unfurnished,False,False,True
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,furnished,True,False,False
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,unfurnished,False,False,True


<font color='red' size='5'>DROPING furnishingstatus Column</font>

In [111]:
final=merged.drop(['furnishingstatus'],axis="columns")
final

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnished,semi-furnished,unfurnished
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,True,False,False
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,True,False,False
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,False,True,False
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,True,False,False
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,False,False,True
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,False,True,False
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,False,False,True
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,True,False,False
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,False,False,True

In [113]:
# List of columns to convert
columns_to_convert = ["mainroad", "guestroom", "basement","hotwaterheating","airconditioning","prefarea"]

# Replace "Yes" with 1 and "No" with 0 for each column in the list
for column in columns_to_convert:
    final[column].replace({"yes": 1, "no": 0}, inplace=True)
final

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnished,semi-furnished,unfurnished
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,True,False,False
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,True,False,False
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,False,True,False
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,True,False,False
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,False,False,True
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,False,True,False
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,False,False,True
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,True,False,False
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,False,False,True

In [141]:
X = final.drop('area', axis=1)
y = final['price']

In [142]:
y

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

In [143]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [144]:
X_train

,price,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnished,semi-furnished,unfurnished
325,4007500,4,1,2,1,0,0,0,1,0,0,False,True,False
129,5873000,3,1,3,1,0,0,0,0,2,1,False,True,False
72,6720000,3,1,4,1,0,0,0,1,0,1,False,False,True
465,3045000,2,1,1,1,0,0,0,0,0,0,False,False,True
405,3465000,3,1,1,1,0,0,0,0,0,0,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,5383000,3,2,1,1,1,1,1,0,0,0,False,False,True
489,2835000,3,1,2,0,0,0,0,0,1,0,False,True,False
527,2275000,2,1,1,0,0,1,0,0,0,0,False,True,False
358,3745000,2,1,1,1,0,0,0,0,0,1,False,True,False
219,4795000,3,1,2,1,0,1,0,0,0,0,False,False,True

In [145]:
X_test

,price,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnished,semi-furnished,unfurnished
310,4130000,3,1,1,1,0,1,0,0,0,0,False,True,False
294,4200000,4,2,2,0,0,0,0,0,0,0,False,True,False
91,6419000,2,1,1,1,1,1,0,0,2,1,True,False,False
10,9800000,3,1,2,1,0,1,0,1,2,1,True,False,False
131,5810000,4,1,4,1,1,0,0,0,0,0,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,3780000,2,1,2,1,0,0,1,0,1,0,False,True,False
318,4060000,3,1,1,1,0,0,0,0,0,0,False,True,False
121,5950000,3,1,2,1,1,1,0,1,0,1,False,True,False
104,6195000,3,2,1,1,1,1,0,0,2,1,True,False,False
491,2835000,2,1,1,0,0,0,0,0,1,0,True,False,False

In [146]:
y_train

325    4007500
129    5873000
72     6720000
465    3045000
405    3465000
        ...
165    5383000
489    2835000
527    2275000
358    3745000
219    4795000
Name: price, Length: 436, dtype: int64

In [147]:
 y_test

310    4130000
294    4200000
91     6419000
10     9800000
131    5810000
        ...
350    3780000
318    4060000
121    5950000
104    6195000
491    2835000
Name: price, Length: 109, dtype: int64

In [148]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()
clf.fit(X_train, y_train)

LinearRegression()

In [149]:
clf.predict(X_test)

array([ 4130000.,  4200000.,  6419000.,  9800000.,  5810000.,  2450000.,
        7875000.,  4900000.,  5250000.,  6650000.,  3360000.,  4403000.,
        3010000.,  3780000.,  6790000.,  2660000.,  5040000.,  4900000.,
        3500000.,  3115000.,  3850000.,  3430000.,  3570000.,  4900000.,
        3710000.,  2135000.,  2100000.,  2975000.,  6510000.,  4550000.,
        6083000.,  4830000.,  3010000.,  4900000.,  2870000.,  4795000.,
        5215000.,  4893000.,  8960000.,  5810000.,  2520000.,  9100000.,
        6300000.,  5285000.,  5880000.,  4445000.,  8575000.,  6090000.,
        3115000.,  1820000.,  3703000.,  3920000.,  7000000., 12250000.,
        4235000.,  5005000.,  6300000.,  4025000.,  3220000.,  5110000.,
        2100000.,  3675000.,  2380000.,  2852500.,  4473000.,  2660000.,
        4515000.,  4480000.,  3360000.,  3003000.,  5460000.,  5250000.,
        4375000.,  4900000.,  7455000.,  6090000.,  3920000.,  3360000.,
        4235000.,  6860000.,  4123000.,  4340000.,  4515000.,  3150000.,
        3640000.,  7070000.,  4200000.,  3675000.,  4165000.,  7560000.,
        4760000.,  3640000.,  6195000.,  3500000.,  6475000.,  4550000.,
        2590000.,  5950000.,  3885000.,  6020000.,  5495000.,  6125000.,
        4620000.,  4620000.,  3780000.,  4060000.,  5950000.,  6195000.,
        2835000.])

In [150]:
clf.score(X_test, y_test)

1.0